{{extend 'layout.html'}}
{{from datetime import datetime}}
<div class='row'>
    {{#=user_devices}}
    {{for device in user_devices:}}
    <div class="col-md-4 col-sm-4">
        <div class="tile-box tile-box-alt mrg20B bg-user">
            <div class="tile-header">{{=device[2]}}</div>
            <div class="tile-content-wrapper"><i class="glyph-icon fa-tachometer"></i>
                <div class="tile-content"> {{=device[4]}}</div>
            </div>
            {{ if device[6] == device[7]: }}
                <div style="margin-top: 10px;">Last Connected: Not yet</div>
            {{ else: }}
                {{connected=str(device[7]).split()}}
                <div style="margin-top: 5px;">Last Connected: {{=datetime.strptime(connected[0], '%Y-%m-%d').strftime('%d-%m-%Y')}} | {{=datetime.strptime(connected[1], '%H:%M:%S').strftime('%H:%M %p')}}</div>
            {{pass}}
            <a href="{{=URL('default','dev_control', args=device[0])}}" class="tile-footer tooltip-button" data-placement="bottom" title="" data-original-title="Device">View Controller
            <i class="glyph-icon fa-cog"></i>
            </a>
        </div>
    </div>
    {{pass}}

    <h3>
        Add your device: <a href="{{=URL('add_device')}}">click</a>
    </h3>
</div>


{{#=device_status}}

<script type="text/javascript">
    $(document).ready(function() {
    $('#device-status').DataTable( {
        responsive:     true,
        paging:         true,
        lengthMenu: [ 10, 25, 50, 75, 100 ],
        dom: 'lfBrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        responsive: {
            details: {
                type: 'column',
                target: 'tr'
            }
        },
        columnDefs: [
        {
            className: 'control',
            responsivePriority: 1,
            orderable: false,
            targets:   0
        },
        {
            responsivePriority: 2,
            targets: 1
        },
        {
            responsivePriority: 3,
            targets: -1
        },
        {
            responsivePriority: 4,
            targets: -2
        }
        ],
        order: [ 1, 'asc' ]
    } );
    } );
</script>
